/* Navigation Bar */
.nav-ul {
    /* border: 2px solid #1792d2; */
    
    /* remove bullet points from the list */
    list-style: none;
    padding: 0;
    
    /* convert flex and center all list items */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-li {
    /* border: 2px solid #1792d2; */
    
    /* bring space left and right to all list items */
    margin: 1em;
}
@media (min-width: 680px) {

    .nav-ul {
        flex-direction: row;
    }  
    .nav-li {
        margin-bottom: 0 1em;
    }
}