.container{
    width:90%;
    max-width: 900px;
    margin:0 auto ;
}
.container-flex{
    flex-direction: column;
    display:flex ;
    justify-content: space-between;

    /* flex-direction: column; */
}
.sidebar {
    text-align: left;
}
@media(min-width:900px){
    .container-flex{
        flex-direction: row;
    }
    main {
        width: 70%;
    }
    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}