/* Main content Layout */
.article-featured {
    padding: 0 2em 2em 0;
    border-bottom: 2px solid gray;
    margin-bottom: 2em;
}
.article-recent {
    display: flex;
    flex-direction: column;
    margin: 0 0 2em 0;
}
@media (min-width: 680px) {
    .article-featured {
        display: flex;
        flex-direction: column;
    }
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
}